body{
 background: red;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.hero{
background-image: url(../img/logohero.jpeg);
background-repeat: no-repeat;
background-size: cover;
height: 500px;
position: relative;
margin-bottom: 2rem;

}

.card img{
width: 300px;

}